<% include ./partials/header%>

<div class="row">
    <div class="col-md-12 text-center">
        <h1>Sign Up</h1>
    </div>
    <div style="width: 50%; margin: 25px auto;">
        <form action="/register" method="post">
            <div class="form-group">
            <label for="username">Username</label>
                <input class="form-control" type="text" name="username" placeholder="Username">
            </div>
            <div class="form-group">
            <label for="password">Password</label>
                <input class="form-control" type="password" name="password" placeholder="Password">
            </div>
            <div class="form-group">
            <label for="firstName">First Name</label>
                <input class="form-control" type="text" name="firstName" placeholder="First Name">
            </div>
            <div class="form-group">
            <label for="lastName">Last Name</label>
                <input class="form-control" type="text" name="lastName" placeholder="Last Name">
            </div>
            <div class="form-group">
            <label for="email">E-Mail</label>
                <input class="form-control" type="email" name="email" placeholder="E-Mail">
            </div>
            <div class="form-group">
            <label for="avatar">Avatar</label>
                <input class="form-control" type="text" name="avatar" placeholder="Avatar URL">
            </div>
            <div class="form-group">
            <label for="adminCode">Secret Code for Admin Rights</label>
                <input class="form-control" type="text" name="adminCode" placeholder="Admin Code/Leave blank if regular user">
            </div>
            <div class="form-group">
                <button class="btn btn-lg btn-primary btn-block">Sign Up!</button>
            </div>
        </form>
        <a href="/courts">Go Back</a>
    </div>
</div>

<% include ./partials/footer%>