@media (max-width: 768px) {
    /* CSS in here for mobile only */
    #map {
        position: absolute;
        bottom: 0;
        margin-bottom: 20px;
        height: 200px;
        width: 100%;
    }
}

@media (min-width: 769px) {
    /* CSS in here for desktop only */
    #map {
        margin-bottom: 20px;
        height: 95%;
        width: 100%;
    }
    .navbar-brand {
        margin-left: 4em;
    }
    .navend {
        margin-right: 3em;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #eaecef;
}

#fuzzySeachInput {
    margin-right: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
    
}

.footer {
    margin-top: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #f5f5f5;
}

.container .text-muted {
    margin: 20px 0;
}

.delete-form {
    display: inline;
}

.jumbotron{
    background-image: url(https://images.unsplash.com/photo-1467809941367-bbf259d44dd6?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=7c17bcc144ff22a0c0e5c63f9986fcbb&auto=format&fit=crop&w=1490&q=80) ;
    background-size: cover; 
    width: 100%;
}

nav.navbar.navbar-expand-md.navbar-dark.bg-dark.mb-4.navbarindex {
    margin-bottom: 0!important;
}

#indextitle {
    font-family: 'Oleo Script', cursive;
    text-align: center;
    color: white;
    font-size: 8em;
    margin-bottom: 20px
}

#navbarsubmit {
    margin-right: 20px;
    margin-bottom: 5px;
    background: transparent;
    color: #b8bec4;
}

#fuzzySeachInput {
    background: transparent;
}

.indextext {
    text-align: center;
}

.card {
    background: #f7f8f9;
}

.alert{
    margin-top: 15px;
}



